<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Received ecard</title>
	
</head>

<body>
	<p>Hello <%= @content[:recipient_name]%>:
		</p>
You have recieved a new ecard from <%= @content[:sendername]%>
To view it follow this link
http://simple-fire-1105.herokuapp.com/ecard?ecard=<%= @content[:link]%>
</body>
</html>
