<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Received ecard</title>
	
</head>

<body>
	<table>
	<tr>
		<td>
			<img src="http://static.shopify.com/s/files/1/0103/6782/t/2/assets/logo.png?1590" />
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-family:'Arial'; font-weight:bold; color:#999999;">Hi,
				</p>
			<p>
				I just sent you an eCard I hope you like!.<br />
				You can see it by <a href="http://artiphany.herokuapp.com/view/ecard?ecard=<%= @content[:link]%>" >clicking here.</a>.
			</p>
			<p>
				<%= @content[:sendername]%> <br />
			</p>
			
		</td>
	</tr>
	<tr>
		<td>
			<a href="http://artiphany.herokuapp.com/view/ecard?ecard=<%= @content[:link]%>"><img src="http://artiphany.herokuapp.com/artiphany_assets/ecard_images/<%= @content[:image] %>" /></a>
		</td>
	</tr>
	</table>
</body>
</html>