
<div id="flash_content">
  	<section class="section2">
	<h1>E-Card Confirmation</h1>
	<p>
		<img src="<%= @image %>" /> <br />
		Thank you for your purchase!! <br />
		We sent you an email with the details of your purchase, and we already took care of sending your ecard.<br />
		Feel free to continue shopping with us
	</p>
	</section>
</div>
