
<div id="flash_content">
  	<section class="section2">
	<p>
		<section class="gizmo"><%= gizmo %> </section>
		<section class="gizmo_message"> 
			<p><%= @message %></p> 
			<p style="text-align:right;"><%= @thank_you %></p> 
			<p><%= image_tag("logo1.png", :alt => "Sample App", :class => "signature") %></p>
		</section>
		
	</p>
	</section>
</div>
