<section class="section2">
<h1>eCard Confirmation</h1>
<p>
	<img src="<%= @image %>" />
	<form action="http://artiphany.myshopify.com/cart/add" method="post">
	  <input type="hidden" name="id" value="<%= @item %>" />
	  <input type="submit" value="Confirm" />
	</form>
</p>
</section>