<h1>Inky dinky flash app demo</h1>
<p>
  This is just an example demo for inky dynky e-cards with integrated flash UI made for/by
  <a href="http://d2m-inc.com/">D2m-inc</a>
  sample application.
 <p><%= link_to "Get Products!", getproducts_path, :remote => true %></p>

	<div id="flash_content">
	  Flash disabled for the moment
	</div>
  
</p>