
		<section class="gizmo"><%= ohare %> </section>
		<section class="gizmo_message"> 
			<p><%= @message %></p> 
			<p style="text-align:right;"><%= @thank_you %></p> 
			<p><%= image_tag("logo1.png", :alt => "Sample App", :class => "signature") %></p>
		</section>

