.container {
    width: 960px;
    background: #fff;
    margin: 10px auto;
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;
    border-radius:         15px;
}

section h1 {
    font-size:200%;
}

.separator {
    width:820px;
    margin:0 auto;
    height:1px;
    border-top:1px solid #cccccc;
}

body {
    /* background: #FFCC99; */
    background-image: url('/bg-slate.jpg');
}

header {
    background: #fff;
    width:862px;
    margin:0 auto;
    padding-top:20px;
}

.logo {
    margin-top:3px;
    margin-left:1px;
}

.signature {
    width:200px;
    height:40px;
    float:right;
}

header img {
    padding: 1em;
    background: #fff;
}

section {
    margin-top: 1em;
    font-size: 120%;
    /* padding: 20px; */
    /* background: #fff; */
    height:538px;
    padding-bottom: 15px;
}

.section2 {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

a {
    color: #999999;
    text-decoration:none;
}

a:hover {
    color: #cacaca;
    /* text-decoration: underline; */
}

a:visited {
    color: #999999;
}

nav {
    float: right;
    background: white;
    padding: 0 0.7em;
    white-space: nowrap;
    margin-top:52px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align:right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    border-right:1px solid #cccccc;
    height:13px;
    line-height:13px;
    font-size: 11px;
    margin-left:10px;
    padding-right:10px;
}

nav ul li a {
    padding: 0 5px;
    font-weight:bold;
    color: #999999;
}

nav ul li a:visited {
    /* color: #09c; */
    color: #999999;
}

nav ul li a:hover {
    /* text-decoration: underline; */
    color: #49d02c;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

#flash_content {
    margin-top:-15px;
    margin-left:0px;
    text-align: center;
    width:960px;
    height:540px;
}

.gizmo {
    float:left;
    margin-left:165px;
    height:auto;
}

.gizmo_message {
    margin-top:200px;
    text-align:left;
    width:328px;
    float:left;
    font-size:15px;
    margin-left:10px;
    color:#999999;
    height:auto;
}


/* Round corners */

.round {
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
  border-radius:         15px;
}

/* footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  color:#444444;
  font-size:11px;
  padding-top:15px;
}

footer nav {
  float: none;
}