<header class="round">
	<%= logo %>
	<nav class="round">
		<ul>
			<li><%= link_to "ABOUT", "http://leuschke-inc8683.myshopify.com/pages/about-us" %></li>
			<li><%= link_to "STORE", "http://leuschke-inc8683.myshopify.com/collections/all" %></li>
			<li style="border-right:none;"><%= link_to "CONTACT", "http://leuschke-inc8683.myshopify.com/pages/contact" %></li>
		</ul>
	</nav>
</header>